.wrapper {
  width: 100%;
<<<<<<< HEAD
  max-width: 300px;
  margin: 0 auto;
=======
>>>>>>> c74fbed1f9440c693c58fa2762ef3c54cfc6739b

  .box {
    width: 100%;

    input {
      width: 100%;
      margin: 20px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 20px;
    }

    button {
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 20px;
      cursor: pointer;
      background: black;
      color: white;
    }
  }
}
<<<<<<< HEAD

.shorter-url {
  margin-top: 30px;
  font-size: 40px;
  cursor: copy;
  border: 1px solid black;
  padding: 10px;
}
=======
>>>>>>> c74fbed1f9440c693c58fa2762ef3c54cfc6739b
